@media screen and (max-device-width: 375pt) {
    html, body {
        height: 667pt !important;
        width: 375pt;
    }
    body .grid-container {
        display: grid;
        min-height: 100vh;
        font-size: 18pt;
        grid-template-columns: 1fr;
        grid-template-rows: 77pt 1fr;
        grid-template-areas:
            "head"
            "container";
        }
    }
* {
	margin: 0;
    border: 0;
}
html, body {
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.grid-container {
    display: grid;
    min-height: 100vh;
    min-width: max-content;
    grid-template-columns: 100%;
    grid-template-rows: 116px 1fr;
    grid-template-areas:
      "head"
      "container";
  }
.container {
    display: flex;
    justify-content: center;
    grid-area: container;
}