@media screen and (max-device-width: 375pt) {
    .container .sport-list {
        margin-top: 60pt;
        width: 100%;
    }
    .sport-list .sport-item {
        justify-content: center;
        margin-bottom: 0;
        align-items: center;
        border-bottom: 2pt #eaeaea solid ;
    }
    .sport-list .sport-item ul {
        width: 125pt;
        margin: 45pt 0;
    }
    .sport-item .human-block {
        margin-right: 46pt;
        width: 87pt;
        height: 87pt;
    }
    .human-block .human-icon {
        width: 87pt;
        height: 87pt;
        z-index: 4;
    }
    .human-block .a {
        width: 87pt;
        height: 40pt;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #e7b6159a;
        line-height: 35pt;
        opacity: 0;
        position: relative;
        grid-area: a;
        border-radius: 50pt 50pt 0 0;
        transition: 0.3s linear;
        cursor: url('../../img/cursor.cur'), auto;
        }
    .human-block .b { 
        width: 87pt;
        height: 40pt;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        background-color: #e746159a;
        line-height: 40pt;
        opacity: 0;
        position: relative;
        grid-area: b;
        border-radius: 0 0 50pt 50pt;
        transition: 0.3s linear;
        cursor: url('../../img/cursor.cur'), auto;   
    }
    .human-block .a-active {
        margin-top: -27pt;
        opacity: 1;
        z-index: 0;
        height: 70pt;
        align-items: flex-start;
    }
    .human-block .b-active {
        margin-top: 0pt;
        opacity: 1;
        z-index: 0;
        height: 70pt;
        align-items: flex-end;
    }
    .sport-list .sport-item ul li {
        font-size: 14pt;
        margin-bottom: 12pt;
    }
    .sport-list .sport-item ul li.date-workout {
        font-size: 14pt;
        margin-bottom: 9pt;
    }
}
.sport-list {
    display: flex;
    margin-top: 113px;
    flex-direction: column;
}
.sport-item {
    margin-bottom: 78.3px;
    display: inline-flex;
}
.sport-item ul {
    width: 165px;
    padding: 0;
}
.sport-item ul li {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
}
.sport-list ul li:last-child {
    margin-bottom: 0;
}
.sport-item ul li u {
    text-decoration: none;
    color: #979797;
}
.sport-item ul li.date-workout {
    font-size: 14px;
    font-weight: normal;
    color: #979797;
    margin-bottom: 9px;
}
.human-icon {
    position: absolute;
    width: 87px;
    height: 87px;
    object-fit: contain;
}
.human-block {
    display: grid;
    text-align: center;
    margin-right: 46px;
    width: 87px;
    height: 87px;
    grid-template-columns: 1fr;
    grid-template-rows:  1fr;
    transition: 0.3s linear;
    grid-template-areas:
        "a"
        "b";
}
.human-block:hover {
    transform: scale(1.2);
}
.a{
    width: 87px;
    height: 43.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #e7b6159a;
    opacity: 0;
    position: relative;
    grid-area: a;
    border-radius: 50px 50px 0 0;
    transition: 0.3s linear;
    cursor: url('../../img/cursor.cur'), auto;
}
.b{ 
    width: 87px;
    height: 43.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #e746159a;
    opacity: 0;
    position: relative;
    grid-area: b;
    border-radius: 0 0 50px 50px;
    transition: 0.3s linear;
    cursor: url('../../img/cursor.cur'), auto;
}
.a:hover {
    opacity: 1;
}
.b:hover {
    opacity: 1;
}