@media screen and (max-device-width: 375pt) {
    .grid-container .head { 
        grid-template-rows: 77pt auto;
      }
    .head .header {        
        height: 77pt;
    }
    .head .header.white {        
        background-color: #ffffff;
    }
    .header .logo {
        margin-left: 25pt;
    }
    .navBlock .menu-icon {
        display: block;
    }
    .navBlock .menu-icon:active {
        background-color: #979797;
    }
    .navBlock .filter-block {
        margin-right: 45pt;
    }
    .filter-block.disabled {
        display: none;
    }
}
.head {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 116px auto;
    grid-template-areas:
      "header"
      "date-form";
    grid-area: head;
  }
.header {
    grid-area: header;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 116px;
    background-color: #7ed321;
}
.logo {
    margin-left: 37px;
}
.navBlock {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
}
.menu-icon {
    margin-right: 25pt;
    display: none;
}