.btn-add {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 60px;
  height: 60px;
  justify-self: right;
  background-color: #ffffff;
}
.add {
    object-fit: contain;
    cursor: none;
    transition: 0.4s;
}
.add:hover {
  transform: rotate(90deg);
}